/*General Settings====================================================================================*/
@charset "UTF-8";

:root{
  /*Color Variables */
  --colorBackground: #ffffff;
  --colorBox: #f9f9f9;
  --colorBox2: #f0f0f0;
  --colorBox3: #dddddd;

  --colorTitle: #37352f;
  --colorSubtitle: #37352f;
  --colorText: #474747;
  
  --colorBorder: #eeeeee;
  --colorShadow: none;

  --colorCustom: #37352f; 

  /*Font Variables*/
  --fontTitle: normal bold 2.8em Arial, Verdana, Helvetica, sans-serif;
  --fontSubtitle: normal normal 2em Arial, Verdana, Helvetica, sans-serif;
  --fontText: normal normal 1em Arial, Verdana, Helvetica, sans-serif;
}

*{
  margin: 0px;
  padding:0px;
}

/*General Classes Componets===========================================================================*/
.background{
  background-color: var(--colorBackground) !important;
}

.box{
  background-color: var(--colorBox);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--colorBorder);
  border-radius: 10px;
  box-shadow: 0px 1px 12px var(--colorShadow);
}

.box2{
  background-color: var(--colorBox2);
  padding: 20px;
  border: 1px solid var(--colorBorder);
  border-radius: 10px;
}

.box3{
  background-color: var(--colorBox3);
  padding: 20px;
  border: 1px solid var(--colorBorder);
  border-radius: 10px;
}

.title{
  font: var(--fontTitle);
  color: var(--colorTitle);
}

.subtitle{
  font: var(--fontSubtitle);
  color: var(--colorSubtitle);
}

.text{
  font: var(--fontText);
  color: var(--colorText);
}

.text-white{
  color: #d4d4d4;
}

.text-black{
  color: #37352f;
}

.button{
  width: 100%;
  height: 50px;
  margin-top: 5px;
  border: none;
  background-color: var(--colorBox);
  border-radius: 10px;
  border: 1px  solid var(--colorCustom);
  color: var(--colorCustom);
  transition: background-color 0.5s;
}

.button:hover{
  background-color: var(--colorCustom);
  color: var(--colorBox);
}


/*header(navbar)============================================================================*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  background-color: var(--colorBox);
  border-bottom: 2px solid var(--colorBorder);
  backdrop-filter: blur(50px);
  z-index: 9;
  }

header .logo{
  color: var(--colorTitle);
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-itens{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item{
  list-style: none;
  margin-left: 20px;
}

.nav-item a{
  text-decoration: none;
  padding: 6px 15px;
  color: var(--colorSubtitle);
  border-radius: 20px;
}

.nav-item a:hover, 
.nav-item a.ativo{
  background: var(--colorCuston);
  color: rgb(255, 255, 255);
  
}

/*main================================================================================*/
main{
  margin-top: 70px;
  padding: 15px
}

main label{
  color: var(--colorText);
}

main section{
  max-width: 1200px;
  margin: auto;
}

/*section(1) section-setting =======================================================================*/
#section-setting p{
  font: var(--fontText);
}

/*section(1) section-setting - color----------------------------------------------------------------*/
.color-setting-div-input{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-setting-div-input > input[type="color"] {
  -webkit-appearance: none; /* Remove o estilo no Chrome/Safari */
  -moz-appearance: none; /* Remove o estilo no Firefox */
  appearance: none; /* Remove o estilo nativo em outros navegadores */
  
  margin-right: 5px;
  background-color: none;
  width: 96px;
  height: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Remove a borda ao redor do swatch no Firefox */
.color-setting-div-input > input[type="color"]::-moz-color-swatch {
  border: none !important; 
}

/* Remove a borda ao redor do swatch no Chrome */
.color-setting-div-input > input[type="color"]::-webkit-color-swatch {
  border: none !important; 
}

.color-setting-div-input label{
  color: var(--colorText);
  cursor: pointer;
  font: var(--fontText);
}

.color-setting-div-input > input[type="checkbox"]{
  margin: 0px 2px 0px 10px;
  width: 15px;
  height: 15px;
}

/*section(1) color-setting - font --------------------------------------------------------------*/
.fonts-setting-div-input{
  margin: 5px 0px;
}

.fonts-setting-div-input input,
.fonts-setting-div-input select{
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  background-color: var(--colorBox2);
  color: var(--colorText);
}

.fonts-setting-div-input label{
  font: var(--fontText);
}

/*section(2) theme-selector =======================================================================*/
#theme-selector{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

#theme-selector p{
  margin-bottom: 0px;
}

.theme-selector-div-box{
  flex: 1 1 auto;
  width: 590px;
  max-width: 590px;
}

.theme-selector-div-colors,
.theme-selector-div-fonts{
  background-image: url('image/backgroundColorBox.png');
  border-radius: 20px;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-items: stretch;
  cursor: pointer;
}

/*Colors--------*/
#theme-selector .color{
  width: 30px;
  height: 180px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  transition: width 0.4s ease-in-out;
}

#theme-selector .color:hover,
#theme-selector .font:hover {
  width: 100%;
}

#theme-selector .color span {
  opacity: 0; 
  transition: opacity 0.5s ease;
  font: 400 20px monospace;
  position: absolute;
}

#theme-selector .font span {
  opacity: 0; 
  transition: opacity 0.5s ease;
  font: 400 16px monospace;
  position: absolute;
}

#theme-selector .color:hover span,
#theme-selector .font:hover span {
  position: relative;
  opacity: 1;
}

#theme-selector .vertical-text {
  transform: rotate(90deg);
  font: bold 15px arial;
  opacity: 0.3;
  transition: opacity 1s ease, visibility 4s 5s;
  position: relative ;
  white-space: nowrap;
}

#theme-selector .color:hover .vertical-text{
  position: absolute;
  opacity: 0;
}

#theme-selector .border-radios-right{
  border-radius: 10px 0px 0px 10px;
}

#theme-selector .border-radios-left{
  border-radius: 0px 10px 10px 0px;
}

/*Font-------------------------*/
#theme-selector .font{
  width: 100px;
  height: 30px;

  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  
  transition: width 0.4s ease-in-out; 
}

#theme-selector .horizontal-text {
  font: bold 15px arial;
  opacity: 0.3;
  transition: opacity 1s ease, visibility 4s 5s;
  white-space: nowrap;
  align-items: center;
}

#theme-selector .font:hover .horizontal-text{
  position: absolute;
  opacity: 0;
}

/*--------------------------------------
            Wallpaper
  --------------------------------------*/

  .rainbow-background {
    width: 100vw;
    background: linear-gradient(90deg, #8ea471, #77a8c2, #b667c2, #ba5f5f);
    background-size: 600%;
    animation: colors 30s ease infinite;
  }

  @keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (max-width: 1000px) {
    .text {
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }
  }

/*--------------------------------------
              Temas
  --------------------------------------*/

.light-theme:root{
  --colorBackground: #ffffff;
  --colorBox: #f9f9f9;
  --colorBox2: #f0f0f0;
  --colorBox3: #dddddd;

  --colorTitle: #37352f;
  --colorSubtitle: #37352f;
  --colorText: #474747;
  
  --colorBorder: #eeeeee;
  --colorShadow: none;

  --colorCustom: #474747; 

  /*Font Variables*/
  --fontTitle: normal bold 2.8em Arial, Verdana, Helvetica, sans-serif;
  --fontSubtitle: normal normal 2em Arial, Verdana, Helvetica, sans-serif;
  --fontText: normal normal 1em Arial, Verdana, Helvetica, sans-serif;
}
  
.dark-theme:root{
  --colorBackground: #191919;
  --colorBox: #202020;
  --colorBox2: #2c2c2c;
  --colorBox3: #383838;

  --colorTitle: #d4d4d4;
  --colorSubtitle: #d4d4d4;
  --colorText: #9b9b9b;

  --colorBorder: #4d4d4d;
  --colorShadow: none;
  
  --colorCustom: #d4d4d4;

  /*Font Variables*/
  --fontTitle: normal bold 2.8em Arial, Verdana, Helvetica, sans-serif;
  --fontSubtitle: normal normal 2em Arial, Verdana, Helvetica, sans-serif;
  --fontText: normal normal 1em Arial, Verdana, Helvetica, sans-serif;
}
  
.rainbow-theme:root{
  --colorBackground: #ffffff; /*linear-gradient(90deg, #8ea471, #77a8c2, #b667c2, #ba5f5f);*/
  --colorBox: #ffffffcc;
  --colorBox2: #ffffff;
  --colorBox3: #eeeeee;

  --colorTitle: #212529;
  --colorSubtitle: #212529;
  --colorText: #212529;

  --colorBorder: #dee2e6;
  --colorShadow: none;
  
  --colorCustom: #0d6efd;

  /*Font Variables*/
  --fontTitle: normal bold 2.8em Arial, Verdana, Helvetica, sans-serif;
  --fontSubtitle: normal normal 2em Arial, Verdana, Helvetica, sans-serif;
  --fontText: normal normal 1em Arial, Verdana, Helvetica, sans-serif;
}