/*Configurações gerais===============================================================*/
@charset "UTF-8";

:root{
  --colorBackground: #ffffff;
  --colorBox: #f9f9f9;
  --colorBox2: #f0f0f0;
  --colorBox3: #dddddd;

  --colorTitle: #37352f;
  --colorSubtitle: #37352f;
  --colorText: #474747;
  
  --colorBorder: rgba(255, 255, 255, 0.2);

  --colorCustom: #37352f; 

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-android: 'idroid', cursive;
}

.light-mode:root{
  --colorBackground: #ffffff;
  --colorBox: #f9f9f9;
  --colorBox2: #f0f0f0;
  --colorBox3: #dddddd;

  --colorTitle: #37352f;
  --colorText: #474747;
  
  --colorCustom: #37352f;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', cursive;
}

*{
    margin: 0px;
    padding:0px;
}

body{
  background-color: var(--backgroundColor) !important;
}

/*header(navbar)============================================================================*/

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  z-index: 9;
  }

header .logo{
  color: var(--titleColor);
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-itens{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item{
  list-style: none;
  margin-left: 20px;
}

.nav-item a{
  text-decoration: none;
  padding: 6px 15px;
  color: var(--titleColor);
  border-radius: 20px;
}

.nav-item a:hover, 
.nav-item a.ativo{
  background: var(--colorCuston);
  color: rgb(255, 255, 255);
}

/*main================================================================================*/
main{
  margin-top: 70px;
}

main h1{
  color: var(--colorTitle);
  font-weight: 600;
}

main p{
  color: var(--colorText);
}

main section{
  max-width: 1200px;
  margin: auto;
}

/*section(1) color-setting =======================================================================*/

.color-setting-box{
  background-color: var(--colorBox);
  box-shadow: 0px 1px 12px rgba(35, 35, 35, 0.3);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--colorBorder);
}

.color-setting-div-input{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-setting-div-input > input[type="color"]{
  width: 64px;
  height: 64px;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

.color-setting-div-input label{
  color: var(--colorText);
  cursor: pointer;
}


/*section(2) color-palettes =======================================================================*/

#section-color-palettes{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#section-color-palettes .color-palettes-box{
  width: 590px;
  padding: 20px;

  background-color: var(--colorBox);
  
  border: 1px solid var(--colorBorder);
  border-radius: 10px;
  box-shadow: 0px 1px 12px rgba(35, 35, 35, 0.3);
}

#section-color-palettes h2{
  color: var(--colorTitle);
}

#section-color-palettes .div-colors{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-items: stretch;

  border-radius: 10px;
  background-color: #37352f;
}

#section-color-palettes .color{
  width: 42px;
  height: 180px;

  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  border: 1px solid rgba(255, 255, 255, 0.201);
  
  transition: width 0.5s ease-in-out; 
}

#section-color-palettes .color:hover {
  width: 100%;
}

#section-color-palettes .color span {
  opacity: 0; 
  transition: opacity 0.5s ease;
  font: 400 1.1em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
}

#section-color-palettes .color:hover span {
  position: relative;
  opacity: 1;
}

#section-color-palettes .color .text-white{
  color: #f9f9f9;
}

#section-color-palettes .color .text-black{
  color: #474747;
}

.vertical-text {
  transform: rotate(90deg);
  font: bold 15px arial;
  opacity: 0.3;
  transition: opacity 1s ease, visibility 4s 5s;
  position: relative ;
  white-space: nowrap;
}

#section-color-palettes .color:hover .vertical-text{
  position: absolute;
  opacity: 0;
}
